
        <footer class="c-footer">
            <div class="o-section">
                <div class="o-wrap">
        
                    <div class="o-cols">
                        <div class="o-cols__item">
                            <img src="img/assets/logo-mwp-2.svg" alt="MWP" width="73" height="34" class="logo--home">
                            <img src="img/assets/logo-mwp-2--white.svg" alt="MWP" width="73" height="34" class="logo--subsite">
                            
                            <p>Wszelkie prawa zastrzeżone.<br>
                                MWP Projekt Marcin Paczyński</p>
                                
                            <p>Copyright &copy; 2019</p>
                        </div>
                        
                        <div class="o-cols__item">
                        
                            <% include social %>

                            <nav class="c-nav">
                            <% include nav--home %>
                            </nav>

                        </div>
                    </div>                    
                </div>
            </div>
        </footer>
        
        <div class="c-gotop js-gotop"></div>
    
