            <a href="index.html" class="o-logo">
                <div class="c-top__logo c-top__logo--home">
                    <img src="./img/assets/logo-mwp.svg" width="84" height="55" alt="MWP Projekt" class="full">
                    <img src="./img/assets/logo-mwp-2.svg" width="65" height="30" alt="MWP Projekt" class="simple">
                </div>
                
                <div class="c-top__logo c-top__logo--subsite">
                    <img src="./img/assets/logo-mwp--white.svg" width="84" height="55" alt="MWP Projekt" class="full">
                    <img src="./img/assets/logo-mwp-2--white.svg" width="65" height="30" alt="MWP Projekt" class="simple">
                </div>
            </a>