
                
                    <ul>
                        <li class="current-menu-item">
                            <a href="index.html">start</a>
                        </li>
                        
                        <li class="js-goto">
                            <a href="#start">oferta</a>
                        </li>
                        
                        <li class="js-goto">
                            <a href="#experience">doświadczenie</a>
                        </li>
                        
                        <li class="js-goto">
                            <a href="#work">praca</a>
                        </li>
                        
                        <li class="js-goto">
                            <a href="#contact">kontakt</a>
                        </li>
                    </ul>
                    
                    <% include lang %>  
