
                            <ul class="c-social">
                                <li>
                                    <a href="#" class="icon-facebook"></a>
                                </li>
                                
                                <li>
                                    <a href="#" class="icon-instagram"></a>
                                </li>
                                
                                <li>
                                    <a href="#" class="icon-youtube"></a>
                                </li>
                                
                                <li>
                                    <a href="https://www.linkedin.com/company/11820083/" class="icon-linkedin" target="_blank" ref="noopen"></a>
                                </li>
                            </ul>
