
    <div class="c-top js-top">
        <div class="o-wrap">
    
            <% include logo-top %>
            
            <div class="c-top__nav">

                <nav class="c-nav js-nav">
                <% include nav--subsite %>
                </nav>

                <% include lang %>
                
                <div class="o-hamburger js-hamburger"></div>
            </div>
        </div>
    </div>
