body {
	@include antialias;
	line-height: 1.2;
	text-rendering: optimizeSpeed;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $light;
	}
	color: $c-blue1;
	
	@media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + 80px ) {
        font-size: get-vw-1180(22);
    }
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        font-size: rem(18);
        line-height: 1.4;
    }
}

a {
    transition: all 250ms ease-out;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
	&:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

strong {
    font-weight: $bold;
}

::selection {
	background-color: $c-blue1;
	color: white;
}
