.is-hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.anim {
    transition: all 600ms ease-out;
    opacity: 0;

    &--visible {
        opacity: 1;
    }
}

.glightbox-clean .gnext,
.glightbox-clean .gprev {
    @media (min-width: 0) {
        top: 45% !important;
    }
}