<% include ./src/includes/head %>

<body style="overflow: hidden;">
    <% include ./src/includes/cover %>


    <% include ./src/includes/top--subsite %>


    <div class="o-container">

        <div class="c-article">
            <div class="o-section o-section--dots">
                <div class="o-wrap">

                    <div class="o-cols">
                        <div class="o-cols__item o-cols__item--wide">
                            <h1 class="o-header o-header--second">Błąd 404</h1>
                        </div>
                        
                        <div class="o-cols__item">
                            <article class="o-article o-article--min">
                            
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. </p>
                                
                            </article>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>

        
        <% include ./src/includes/footer--subsite %>
    </div>
        
</body>
</html>