<% include ./src/includes/head %>

<body style="overflow: hidden;">
    <% include ./src/includes/cover %>


    <% include ./src/includes/top--subsite %>


    <div class="o-container">

        <div class="c-article">
            <div class="o-section o-section--dots">
                <div class="o-wrap">
                
                    <div class="o-content">
                        <header>
                            <h1 class="o-header o-header--first">oferta.</h1>
                        </header>
                        
                        
                        <article class="o-article o-article--columns">
                                
                            <p>
                                <strong>Oferujemy kompleksowe projekty, zarównoz pozwoleniem na budowę jak i wykonawcze.</strong>
                            </p>
                            
                            <p>Specjalizujemy się głównie w projektach elektryki i automatyki przemysłowej. Jednakże dzięki wieloletniej współpracy z dużą liczbą biur projektowych oferujemy możliwość kompleksowej realizacji projektu wielobranżowego.</p>
                            
                            
                            <p>Dysponujemy niezbędnym specjalistycznym oprogramowaniem do projektowania:</p>
    
                            <ul>
                                <li>Program do rysowania schematów i automatyzacji - EPLAN (nazwa zastrzeżona prze EPLAN),</li>
                                <li>Program do modelowania oświetlenia - DIALUX (nazwa zastrzeżona prze DIALUX)</li>
                                <li>Program do rysowania i modelowania 3D – BricsCAD (nazwa zastrzeżona prze BricsCAD)</li>
                            </ul>
                            
                            <p>Dysponujemy dodatkowym sprzętem jak dalmierze, kamera termowizyjna.</p>
                        </article>
                    </div>
                        
                    
                    <div class="o-frame o-frame--big">
                        <img src=<%= require("./img/photos/plan.jpg") %> alt="" width="1180" height="400">
                    </div> 
                </div>
            </div>
        </div>
        
        
        <% include ./src/includes/footer--home %>
    </div>
        
</body>
</html>