<% include ./src/includes/head %>

<body style="overflow: hidden;">
    <% include ./src/includes/cover %>


    <% include ./src/includes/top--subsite %>


    <div class="o-container">

        <div class="c-article">
            <div class="o-section o-section--dots">
                <div class="o-wrap">
                
                    <header>
                        <h1 class="o-header o-header--first">praca.</h1>
                    </header>
                    
                    <div class="o-cols">
                        <div class="o-cols__item o-cols__item--wide">
                            <article class="o-article">
                            
                                <h5 class="o-header o-header--fiveth">Praktyki studenckie</h5>
                                
                                <p>Obecnie poszukujemy osób chcących odbyć praktyki studenckie, rozwijać się i poznawać tajniki projektowania.</p>
                                
                                <p>Wymagania:</p>

                                <ul>
                                    <li>chęć nauki</li>
                                    <li>zaangażowanie</li>
                                    <li>znajomością obsługi programów typu AutoCAD/BricsCad </li>
                                </ul>
                            
                                <p>Oferujemy:</p>
                                
                                <ul>
                                    <li>ciekawe projekty</li>
                                    <li>miła atmosferę</li>
                                </ul>
                                
                                <section class="o-cta">
                                    <a href="mailto:kontakt@mwp-projekt.pl?subject=Aplikacja" class="o-btn o-btn--blue">Aplikuj</a>
                                </section>
                            </article>
                            
                            
                        </div>
                        
                        <div class="o-cols__item">
                            <div class="o-frame o-frame--big">
                                <img src=<%= require("./img/photos/work.jpg") %> alt="" width="620" height="413">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <% include ./src/includes/footer--subsite %>
    </div>
        
</body>
</html>